<% form_for @listing do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, :class => 'text' %>
  </p>
  
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
