<% form_for @listing do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, :class => 'text' %>
  </p>
  
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :duration %><br/>
    <%= f.select :duration, [['3 days', 1], ['5 days', 5], ['7 days', 7]] %>
  </p>
  
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
