<h2><%=h @listing.title %></h2>
<div id="info">
  <%= render 'listings/info' %>
</div>
<div class="description">
  <%=h @listing.description %>
</div>

<div id="bid">
  <h3>Place a bid</h3>
  <% if signed_in? %>
    <%= render :partial => 'bids/form' %>
  <% else %>
    <p><%= link_to 'Sign in', new_session_path %> or <%= link_to 'register', new_user_path %> to place a bid.</p>
  <% end %>
</div>