<h2><%=h @listing.title %></h2>
<dl class="info">
  <dt>Seller:</dt>
  <dd>
    <%= link_to h(@listing.user), @listing.user %>
    <% if signed_in? && current_user == @listing.user %>
      (<%= link_to 'Edit', edit_listing_path(@listing) %>)
    <% end %>
  </dd>
  <% if @listing.highest_bid %>
    <dt>Highest Bid:</dt>
    <dd>
      <%= @listing.highest_bid.amount.format %>
      (<%= link_to h(@listing.highest_bid.user), @listing.highest_bid.user %>)
    </dd>
  <% end %>
  <dt>History:</dt>
  <dd><%= pluralize @listing.bids.count, 'bid' %></dd>
  <% if @listing.active? %>
    <dt>End time:</dt>
    <dd>
      <%= distance_of_time_in_words_to_now @listing.end_at, true %>
      (<%= @listing.end_at.to_s(:listing) %>)
    </dd>
    
      
  <% end %>
</dl>
<div class="description">
  <%=h @listing.description %>
</div>

<div id="bid">
  <h3>Place a bid</h3>
  <% if signed_in? %>
    <%= render :partial => 'bids/form' %>
  <% else %>
    <p><%= link_to 'Sign in', new_session_path %> or <%= link_to 'register', new_user_path %> to place a bid.</p>
  <% end %>
</div>