<% if !@listing.active? %>
  <% if @listing.highest_bid && @listing.highest_bid.user == current_user %>
    <h2 id="expired" class="winner">Congratulations! <span>You are the winner.</span></h2>
  <% else %>
    <h2 id="expired">Sorry, <span>this auction has ended.</span></h2>
  <% end %>
<% end %>

<h2><%=h @listing.title %></h2>
<div id="info">
  <%= render 'listings/info' %>
</div>
<div class="description">
  <%=h @listing.description %>
</div>

<div id="bid">
  <h3>Place a bid</h3>
  <% if signed_in? %>
    <%= render :partial => 'bids/form' %>
  <% else %>
    <p><%= link_to 'Sign in', new_session_path %> or <%= link_to 'register', new_user_path %> to place a bid.</p>
  <% end %>
</div>