<%= form_for [@listing, @bid || Bid.new], :remote => true do |f| %>
  <% if f.object.errors[:amount].present? %>
    <p id="errorExplanation">Your bid <%= f.object.errors[:amount].to_sentence %></p>
  <% end %>
  
  <%= f.label :amount %>
  <%= f.text_field :amount, :size => 6 %>
  <%= f.submit "Bid" %>
<% end %>