<%= form.error_messages %>
<div class="text_field">
  <%= form.label :nickname %>
  <%= form.text_field :nickname %>
</div>
<div class="text_field">
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>
<div class="password_field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
<div class="password_field">
  <%= form.label :password_confirmation, "Confirm password" %>
  <%= form.password_field :password_confirmation %>
</div>
<div class="select_field">
  <%= form.label :time_zone %>
  <%= form.time_zone_select 'time_zone', ActiveSupport::TimeZone.us_zones, :default => 'Eastern Time (US & Canada)' %>
</div>