<!DOCTYPE html>
<html lang="en">
<head>
  <title>eHarbor</title>
  <%= stylesheet_link_tag 'boilerplate', 'main' %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= javascript_include_tag :defaults %>
</head>
<body>
  <div id="main">
    <header>
      <div id="toolbar">
        <% if signed_in? %>
          Signed in as <%= h(current_user) %> |
          <%= link_to 'My Account', current_user %> |
          <%= link_to "Sign Out", session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign In", new_session_path %> |
          <%= link_to "Register", new_user_path %>
        <% end %>
      </div>
      <h1>
        <%= link_to '<span class="e1">e</span><span class="h2">H</span><span class="a3">a</span><span class="r4">r</span><span class="b5">b</span><span class="o6">o</span><span class="r7">r</span>', root_path %>
      </h1>
      <nav>
        <ul>
          <li><%= link_to "Buy", listings_path %></li>
          <li><%= link_to "Sell", new_listing_path %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </div>
</body>
</html>
